# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Environment / Secrets
.env
*.pem
*.key

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store